app/uploads/
app/blogs.dir/
app/upgrade/
app/backup-db/
app/advanced-cache.php
app/wp-cache-config.php
app/cache/
app/backups/
deploy/
Capfile
config-*.php
wp/config-*.php
wp/wp-content/uploads
**/.DS_STORE